@use '@styles/pallete.scss' as *;

form {
  display: flex;
  flex-direction: column;
  margin: 1.6rem;

  label {
    font-size: 0.875em;
    line-height: 1.25em;
    color: $black;

    margin-bottom: 0.5rem;
  }

  input {
    width: 400px;
    padding: 12px;
    height: 2.75rem;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0.25em;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.48);

    &:first-of-type {
      margin-bottom: 1.5rem;
    }
  }

  button {
    margin-top: 48px;
    width: 79px;
    height: 44px;
    background: $purple;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-size: 14px;
    color: #fff;
  }
}
